<!DOCTYPE html>
<html lang="pt-br" ng-app="todoist">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> TODOIST </title>
        <link rel="stylesheet" href="/css/min/styles.min.css">
        <base href="/">
    </head>
    <body ng-controller="TodoListController">        
        <section class="container">
            <main id="todoList" class="todo-list" role="main">
                <h1 class="todo-list__title">
                     To do List
                </h1>
                <!-- ADICIONAR ITEM -->
                <form name="formAdd" id="formAdd" ng-submit="addItemTodoList(formAdd)" focus-invalido novalidate>
                    <div class="todo-list__add">
                        <input type="text" id="inputAdd" class="todo-list__input" ng-model="itemToDoList" placeholder="Digite a sua nova tarefa." name="addItemToList" ng-minlength="5" ng-maxlength="80" required>
                        <button class="todo-list__button-add"></button>
                    </div>
                </form>
                
                <!-- LISTA DE ITENS -->
                <ul>
                    <li class="todo-list__item" ng-repeat="item in itens" ng-class="item.finalizado ? 'active' : ''">
                        <span class="todo-list__marcar font-icon" ng-click="selecionaItemTodoList($index)" ng-class="item.finalizado ? 'icon-check_box' : 'icon-check_box_outline_blank'"></span>
                        <div class="todo-list__item-text">
                            {{item.texto}}            
                        </div>
                        <span class="todo-list__editar font-icon icon-pencil" ng-click="editaItemTodoList($event)" set-focus="inputEditar{{$index}}"></span>
                        <span class="todo-list__remover font-icon icon-trash-o" ng-click="abreModal($index)"></span>
                        <form name="formEdit" id="formEdit" ng-submit="formEditItemTodoList(formEdit)" novalidate>
                            <input type="text" id="inputEditar{{$index}}" class="todo-list__input-edit" ng-model="item.texto" ng-minlength="5" ng-maxlength="80" required>
                            <button class="todo-list__button-edit"></button>
                        </form>
                    </li>
                </ul> 
                
                <!-- NUMERO TOTAL DE TAREFAS -->
                <div class="todo-list__total">
                    <span class="todo-list__total-texto">
                        {{numeroDeItens()}}
                    </span>
                </div>
            </main>
        </section>

        <modal-confirm show="mostraModal" titulo="tarefaModal" indice="itemModal">
          <p> Você tem certeza que deseja excluir a tarefa <p>
        </modal-confirm>

        <modal-alert mostrar="mostraAlert" tipo="tipoAlert" form="formAlert"></modal-confirm>

        <script src="/js/min/libs-angular.min.js"></script>
        <script src="/js/min/main.min.js"></script>
        <script src="/js/min/controllers.min.js"></script>
        <script src="/js/min/directives.min.js"></script>
    </body>
</html>