@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$fontPacifico: 'Pacifico', cursive;
$fontLato: 'Lato', sans-serif;
$fontIcones: 'icomoon';
$CorPrincipal: #2c3e50;

body{
    color:#333333; 
	font-family: $fontLato;
    font-size: 14px;
    background: $CorPrincipal;
}

*{
	font-family: $fontLato;
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width:10px;
	height:10px;
	background:$CorPrincipal;
	@include border-radius(4px);
}

::-webkit-scrollbar-thumb{
	background-color:#96A2AF;
}

.container{
	width: 800px;
	position: relative;
	left:50%;
	margin-left:-400px;
}

.flex{
	display: flex;
}

/******************
	 TODO LIST
******************/
.todo-list{
	color:#FFFFFF;
	width: 100%;
	margin-top:80px;
	.todo-list__title{
		font-family: $fontPacifico;
		font-size: 65px;
		text-align: center;
		text-shadow: 1px 1px 1px #1c2731;
		&:before{
  			content: "\e900";
  			font-family: $fontIcones;
  			font-size: 50px;
  			margin-right: 10px;
		}
	}
	.todo-list__add{
		margin-top:50px;
		position: relative;
		.todo-list__input{
			width:100%;
			height: 50px;
			padding-left: 20px;
			padding-right: 80px;
			font-size: 20px;
			background: transparent;
			border:1px solid #FFFFFF;
			color:#FFFFFF;
			outline-color:#FFFFFF;
			&::-webkit-input-placeholder {
			   color:#EEEEEE;
			   font-weight: 300;
			   font-size: 18px;
			}
			&:-moz-placeholder {
			   color:#EEEEEE;
			   font-weight: 300;
			   font-size: 18px;
			}
			&::-moz-placeholder {
			   color:#EEEEEE;
			   font-weight: 300;
			   font-size: 18px;
			}
			&:-ms-input-placeholder {
			   color:#EEEEEE;
			   font-weight: 300;
			   font-size: 18px;
			}
		}
	}
	.todo-list__button-add,
	.todo-list__button-edit{
	    position: absolute;
	    right: 10px;
		top: 6px;
		width: 38px;
		height: 38px;
	    line-height: 38px;
	    border: 0;
	    background: #ffffff;
	    outline: none;
	    cursor: pointer;
		@include border-radius(50%);
		&:after{
				content: "\f067";
			font-family: $fontIcones;
			font-size: 22px;
			color:$CorPrincipal;
		}
	}
	.todo-list__item{
		position: relative;
		display: flex;
		background: #63778c;
		border: 1px solid #96a2af;
		padding: 10px 0px;
		margin: 10px 0px;
		width: 100%;
		font-size: 16px;
		cursor: default;
		.font-icon{
			margin-left:20px;
			margin-right: 10px;
			cursor: pointer;
			&:before{
				font-size: 22px;
			}
		}
		.todo-list__editar{
		    margin-left: auto;
		    padding-right: 20px;
		    border-right: 1px solid #FFF;
		}
		.todo-list__remover{
			margin-right: 20px;
			margin-left: 10px;
		}				
		.todo-list__input-edit{
			position: absolute;
			width: 100%;
			left: 0px;
			height: 35px;
			padding-left: 50px;
			padding-right: 100px;
		    top: 4px;
		    border: 0px;
		    background: #10171f;
		    color: #fff;
		    outline: none;
		   	font-size: 16px;
		   	background: #63778C;
		   	color:#FFFFFF;
		   	opacity: 0;
		   	visibility: hidden;
		   	@include transition(all 0.5s);
		}
		.todo-list__button-edit{
			opacity: 0;
		   	visibility: hidden;
		   	@include transition(all 0.5s);
			&:after{				
			  	content: "\e901";
			}
		}
		&.active{
			background: #96a2af;
    		color: #53585d;
			.todo-list__item-text{
				font-style: italic;
				text-decoration:line-through;
			}
			.todo-list__editar {
    			border-right: 1px solid #666c73;
			}
			.todo-list__input-edit{
				background: #96a2af;
    			color: #53585d;
			}
		}
		&.editar{
			.todo-list__input-edit,
			.todo-list__button-edit{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.todo-list__total{
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		margin-top:15px;
		&:before{
		    content: "";
		    position: absolute;
		    z-index: 0;
		    left: 5%;
		    width: 90%;
		    height: 1px;
		    margin-top: 12px;
		    background: #63778c;
		}
		.todo-list__total-texto{
			position: relative;
			z-index: 1;
			padding: 0px 25px;
			background: $CorPrincipal;
		}
	}
}