/*  */
@media screen and (max-width : 850px) {
	.container {
	    width: 90%;
	    margin-left: -45%;
	}
	.todo-list .todo-list__item {
	    align-items: center;
	}
	.modal__conteudo {
    	width: 90% !important;
	}
}

@media screen and (max-width : 399px) {
  
}