@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?jge7j3');
  src:  url('../../fonts/icomoon.eot?jge7j3#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?jge7j3') format('truetype'),
    url('../../fonts/icomoon.woff?jge7j3') format('woff'),
    url('../../fonts/icomoon.svg?jge7j3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-icon:before{
  content:"";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash-o:before {
  content: "\f014";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-plus:before {
  content: "\f067";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-list:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-close:before {
  content: "\f00d";
}